<div
  class="offcanvas offcanvas-start w-250"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Barra de
      opciones</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      name="closeOffCanvas"
      aria-label="closeOffCanvas"
    ></button>
  </div>
  <div class="offcanvas-body text-center">
    <div class="" >
      <img
        src="/image/office.webp"
        class="card-img-top w-100"
        alt="..."
      />
      <div class="card-body">
        <div
        class="d-flex justify-content-start align-items-center gap-4"
        >
          <img src="/svg/avatar.svg" alt="Avatar" title="Avatar" />
          <span class="text-wrap fs-6">{{infoTeacher.name}} {{infoTeacher.fatherLastName}} {{infoTeacher.motherLastName}}</span>
        </div>

      </div>
    </div>
    <div class="mark-as-read text-uppercase">
      <a href="/">
        inicio
      </a>
    </div>

    <div class="sectionGroups">
    {{#each groups}}
      <div class="mark-as-read text-uppercase">
        <a href="/group/{{id}}">
            grupo
            {{name}}
        </a>
      </div>
    {{/each}}
    </div>
  </div>
</div>