{{>sidebar}}

<link rel="stylesheet" href="/css/dark.css">
<section id="tabla-alumnos" class="container container_top" >

    <div class="table-responsive">
        <button class="swal2-styled swal2-confirm">
           Alumnos: {{groupStudents.length}}
        </button>
        <div class="contentTable">

        <table class="table">
            <thead align="center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido paterno</th>
                    <th scope="col">Apellido materno</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody align="center">

                {{#each groupStudents}}
                <tr>
                    <th scope="row"></th>
                    <td>{{name}}</td>
                    <td>{{fatherLastName}}</td>
                    <td>{{motherLastName}}</td>
                    <td>{{note_value}}</td>
                    <td>{{dateOfNote}}</td>
                    <td>
                        <button class="btn btn-primary addNote swal2-styled swal2-confirm" data-id="{{id}}"
                            data-name="{{name}}" data-fatherlastname="{{fatherLastName}}"
                            data-motherlastname="{{motherLastName}}" data-note_id="{{note_id}}"
                            data-group_id="{{group_id}}">
                            Calificar
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>
</section>
<script type="module" src="/js/groups.js"></script>
